<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="TheMovieDb">
        <setting label="API Key"            type="text"         id="tmdb-key" default=""/>
        <setting label="Langue par défaut"  type="labelenum"    id="tmdb-langue" values="en-US|fr-FR" default="fr-FR"/>
        <setting label="Nom d'utilisateur"  type="text"         id="tmdb-username" default=""/>
        <setting label="Mot de passe"       type="text"         id="tmdb-password" default=""/>
        <setting label="Tester la configuration" type="action" action="RunPlugin(plugin://plugin.video.doctornono.trailer/?mode=test&test=tmdb)" /> 
        <setting label="Token"              type="text"         id="tmdb-token" default=""/>        
        <setting label="Session Id"         type="text"         id="tmdb-session-id" default=""/>
        <setting label="User Id"            type="text"         id="tmdb-user-id" default=""/>
    </category>

    <category label="Trakt">
        <setting id="trakt-active" label="Activer Trakt.tv" type="bool" default="false" />
        <setting id="trakt-username" label="Nom d'utilisateur" type="text" default="" visible="eq(-1,true)" />
        <setting id="trakt-key" label="API Key" type="text"   default=""  visible="eq(-2,true)"/>
        <setting label="Associer à Trakt" type="action"  visible="eq(-3,true)" action="RunPlugin(plugin://plugin.video.doctornono.trailer/?mode=test&test=trakt-install)" />
        <setting id="trakt-clientsecret" type="text" label="Client secret"  default=""  visible="eq(-4,true)"/>
        <setting id="trakt-access-token" type="text" label="Access token"  default=""  visible="eq(-5,true)"/>
        <setting id="trakt-refresh-token" type="text" label="Refresh token"  default=""  visible="eq(-6,true)"/>
        <setting id="trakt-expire" type="text" label="Expire"  default=""  visible="eq(-7,true)"/>
        <setting label="Tester la configuration" type="action"  visible="eq(-8,true)" action="RunPlugin(plugin://plugin.video.doctornono.trailer/?mode=test&test=trakt)" />
    </category>

    <category label="Fanart.tv">
        <setting id="fanart-active" label="Activer Fanart.tv" type="bool" default="false" />
        <setting id="fanart-key"    label="API Key" type="text" default="" visible="eq(-1,true)"/>
        <setting label="Tester la configuration" type="action"  visible="eq(-2,true)" action="RunPlugin(plugin://plugin.video.doctornono.trailer/?mode=test&test=fanarttv)" />
    </category> 

    <category label="Uptobox">
        <setting id="uptobox-active"    label="Activer Uptobox" type="bool" default="false" />
        <setting id="uptobox-key"       label="API Key" type="text" default="" visible="eq(-1,true)"/>
        <setting id="uptobox-folder-movie"     label="Dossier des films" type="text"    default="" visible="eq(-2,true)"/>
        <setting id="uptobox-folder-tvshow"     label="Dossier des séries" type="text"    default=""  visible="eq(-3,true)"/>
        <setting id="uptobox-folder-import"     label="Dossier d'importation" type="text"    default=""  visible="eq(-4,true)"/>        
        <setting label="Tester la configuration" type="action" visible="eq(-5,true)" action="RunPlugin(plugin://plugin.video.doctornono.trailer/?mode=test&test=uptobox)" />
    </category>        
</settings>